@import "../../App.scss";

.section-3 {
	width: 100%;
	height: 100%;
	padding: 10rem 0;
	background: #eef;
	display: flex;
	flex-direction: column;
	align-items: center;

	& > .projects-wrapper {
		width: 80%;
		flex-wrap: wrap;
	}
}
