@import "../../App.scss";

.navbar {
	width: 100%;
	height: 4rem;
	background: $main-color-text;
	box-shadow: 0.2rem 0.2rem 0.5rem #555;
	position: absolute;
	z-index: 1;

	& > .navbar-link {
		font-size: 1.7rem;
		font-weight: 600;
		color: #333;
		margin: 0 3rem;
		letter-spacing: 0.3rem;
		text-transform: uppercase;
		position: relative;
		transition: color 0.2s linear;

		&:hover {
			color: #fff;
		}

		&::before {
			content: "";
			width: 0;
			height: 0.2rem;
			background: #fff;
			position: absolute;
			right: -15%;
			bottom: -0.3rem;
			transition: width 0.2s linear;
		}
		&:hover::before {
			width: 130%;
		}
	}
}
